﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Assign_2a._Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

    <div class="jumbotron">
        <h1>Information About Me</h1>
        <p class="lead">PARAMPREET SINGH GREWAL</p>
        
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>Study Background</h2>
            <p>
                I am from Punjab,India. I have completed my bachelor's degree from Punjab University in Computer Application.After that i 
                choose web development in Humber College
            </p>
            
        </div>
        <div class="col-md-6">
            <h2>Hobbies</h2>
            <p>
               Usually i like outdoor activities and my favourite games are football, cricket and vollyball.I also played in my college cricket team as a fast bowler.
            </p>
            
        </div>
        <div class="col-md-6">
            <h2>Favourite TV Shows</h2>
            <p>
               There are many show that i like but one of my favourites are secred games,air crash investigation and the kapil sharma show.
            </p>
            
        </div>
    </div>

</asp:Content>
